<div class='home_para'>
  Hello! My name is Matt Imel, and I'm interested in web development, with experience in
  web frameworks such as Node Express and CakePHP, and strong knowledge of HTML, CSS, JS, and
  a variety of front-end libraries. I graduated from Kansas State University in December of 2019,
  and have learned much during my time there.
</div>
<div class='home_para'>
  The purpose of this ePortfolio is to showcase my work, and to prove that I can put my knowledge
  of web development to use. This portfolio will certainly change over time, as I learn new technologies
  and better design practices. I am always seeking to improve myself and my work, and am always interested
  in feedback! You can contact me through these means:
</div>
<div class='home_para'>
  Email: imel.matt.r@gmail.com
  <br />
  Phone: (913)-952-8680
</div>
<div class='home_para'>
  Thank you for your time, and I hope you enjoy my work!
</div>
