<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <link type="text/css" rel="stylesheet" href="./css/main.css" />
  <script src="./js/clock_background.js" defer></script>
  <title>Ambient Clock</title>
</head>
<body>
  <div id='clock_center_text'>
    <div id='clock_time'>12:00</div>
    <div id='clock_conditions'>
      <div id='clock_temp'>99&#176;</div>
      <div id='clock_weather'>Sunny</div>
    </div>
  </div>
  <canvas id='clock_bkgd'>
  </canvas>
</body>
