<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <link type="text/css" rel="stylesheet" href="./css/main.css" />
  <script src="./js/index_background.js" defer></script>
  <title>Matt Imel's eResume</title>
</head>
<body>
  <nav id='index_header'>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/projects'>Projects</a></li>
      <li><a href='/about'>About</a></li>
    </ul>
  </nav>
  <div id='index_center_text'>
    <div class='index_title'>My name is</div>
    <div id='index_name'>Matt Imel</div>
    <div class='index_title'>and I make websites!</div>
  </div>
  <canvas id='index_bkgd'>
  </canvas>
</body>
